PyQt6
cryptography
SQLAlchemy # interface
psycopg2 # engine library # PSQL
pandas
requests
joblib
cffi==1.17.1
cryptography==45.0.6
greenlet==3.2.4
javaobj-py3==0.4.4
numpy==2.3.2
pandas==2.3.2
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodomex==3.23.0
pyjks==20.0.0
pyOpenSSL==25.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.43
tenacity==9.1.2
twofish==0.3.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
requests